.Pane.vertical.Pane1 {
  min-width: 320px;
  max-width: calc(100% - 330px);
}

.Resizer {
  position: relative;
  background: #A9A9A9;
}

.Resizer.vertical {
  min-width: 10px;
  cursor: col-resize;
}

.Resizer::after,
.Resizer::before {
  content: '';
  border-left: 1px solid #333;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
}
