.container {
  display: flex;
  flex-direction: column;
}

.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editor > div:first-of-type {
  flex-grow: 1;
}

.tokencount {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.compilebutton {
  position: absolute!important;
  margin: 10px!important;
  bottom: 0;
  right: 0;
}

.error {
  margin: 0;
  padding: 10px;
  background: #202020;
  font-size: 12px;
  height: 36px;
}
