.container {
  background: #ddd;
  flex-grow: 1;
  padding: 20px;
  overflow: scroll;
}

.container > h1 {
  margin-top: 0;
}

.editor {
  background: #272822;
  padding: 10px;
  border-radius: 10px;
}
