html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

html, body, #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a.url {
  color: #2196f3;
}

a.url:hover {
  color: #3f51b5;
  text-decoration: underline;
}

.redtext {
  color: red;
}

.greentext {
  color: green;
}

.monospace {
  font-family:
    Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}
