.container {
  height: 60px;
  background: #efefef;
  box-shadow: 0 0 10px #333;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container > div {
  margin: 0 10px!important;
}

.flexfill {
  flex-grow: 1;
}

.container > a {
  display: flex;
  margin-right: 20px;
}

.container > a > svg {
  width: 32px;
  height: 32px;
}

.container > a:hover {
  color: #2196f3;
}
