.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerbox {
  box-shadow: 0 0 10px #333;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

.centerbox > h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.centerbox > h1 > div {
  margin-right: 10px!important;
}

.centerbox > button {
  margin: 10px 0;
}
