.container {
  min-width: 296px;
  text-align: center;
  background: #efefef;
}

.tabs {
  display: flex;
  background: #fff;
}

.tabs > div {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currtab {
  background: #efefef!important;
}

.colorinput {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.tilegrid {
  display: flex;
  flex-wrap: wrap;
  width: 128px;
  margin: 20px auto;
  outline: 4px solid #000;
}

.tile {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.options > label {
  cursor: pointer;
}

.selected {
  box-sizing: content-box;
  box-shadow: inset 0 0 0 4px #000;
  outline: 4px solid #fff;
  z-index: 1;
}

.canvas {
  background: #fff;
}

.gridded {
  outline: 1px solid #ddd;
}
