.container {
  text-align: center;
  margin: 0 20px;
}

.tilegrid {
  display: flex;
  flex-wrap: wrap;
  width: 128px;
  margin: 20px auto;
  outline: 4px solid #000;
}

.tile {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.selected {
  box-sizing: content-box;
  box-shadow: inset 0 0 0 4px #000;
  outline: 4px solid #fff;
  z-index: 1;
}

.canvas {
  background: #fff;
  margin: 20px;
}

.gridded {
  outline: 1px solid #ddd;
}
